{% extends 'base.html' %}

{% block content %}
    <h2 class="post-title">About Me</h2>
<br/>    
    <p class="post-date">12 November 2017</p>
<br/>
    <img class="photo", src="{{ url_for('static', filename='orcas.jpg') }}" alt="Mount Constitution, Orcas Island, Washington"></img>
    <p>I'm not great at describing myself, but I can do lists! I'm from Colorado. Things you see posted may pertain to
         backpacking, cycling, bikepacking, training and nutrition for ultramarathons and triathlons, lean and agile, business problems, 
         emerging tech, open source hardware and software, minimalism, project management and six sigma, French, environmentalism, civic engagement
        and the catch all "whatever I feel like writing about".</p>
{% endblock %}
