{% extends 'base.html' %}

{% block content %}
<br/>
<img class="photo" src="{{ url_for('static', filename='calvinandhobbes.jpg') }}" alt="calvinandhobbes"></img>
<a class="inverse-nav" href="https://timothyjenkins.github.io/internet-of-things-2018.html">The Internet of Things in 2018</a>
</br>
<a class="inverse-nav" href="https://timothyjenkins.github.io/compact-living.html">On Compact Living</a>
</br>
<a class="inverse-nav" href="https://timothyjenkins.github.io/about-me.html">About Me</a>
{% endblock %}
