{% extends 'base.html' %}

{% block content %}
    <h2 class="post-title">Moving to Gitlab</h2>
    <p class="post-date"> 2 November 2018</p>
    <p>I am moving to <a href="https://gitlab.com/">Gitlab</a>, mostly because I need some 
        private repos but also because I don't want to shell out for it! That said, I'll
    figure out some way to support their efforts financially since they're now competing with Microsoft.
    <br>
    <br>
    Much has changed since the last post. T-Mobile launched <a href="https://iot.t-mobile.com/narrowband/">Narrowband IoT</a> in the U.S, and after writing about it this
time last year, I went to go help them support partnerships in the IoT space. T-Mobile moves fast and I can't wait to
continue to optimize the network and business. 
    <br>
    <br>
Even though my role is not in dev, there's plenty of value to deliver in building data pipelines and automation
and I am stoked that I am able to bring that back to T-Mobile customers. It's part of what differentiates us, and there's still plenty of evidence of true
innovation all over the org.
    <br>
    <br>
    Also, I recently attended <a href="http://www.mobilefutureforward.com/">Mobile Future Forward</a> along with several colleagues, and I assure
you that the future is bright in edge computing, industrial IoT, 5G and beyond!</p>
{% endblock %}